/* Import other CSS files */
@import './assets/css/main.css';
@import './assets/css/fontawesome-all.min.css';

/* Global styles */

/* div#sidebar{
    overflow-x: hidden !important;
    height: fit-content !important;
    position: fixed !important;
    top: 0px !important;;
} */

.mini-excerpt {
    display: -webkit-box; /* Old browsers */
    display: box;
    -webkit-box-orient: vertical;
    line-clamp: 6; /* Number of lines to show */
    overflow: clip;
    max-height: 4.5em; /* Adjust based on the line height */
    line-height: 1.5em; /* Set your desired line height */
}