/* Import other CSS files */
@import './assets/css/main.css';
@import './assets/css/fontawesome-all.min.css';

/* Global styles */

/* div#sidebar{
    overflow-x: hidden !important;
    height: fit-content !important;
    position: fixed !important;
    top: 0px !important;;
} */

